<div class="warning-alert">
  <div>
    this is warning-alert
  </div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam error iure repellat reprehenderit, saepe soluta
    unde voluptatem. Architecto assumenda beatae explicabo, itaque mollitia nemo nobis, perspiciatis quasi quia
    similique totam!
  </div>
  <div>Animi et ex facere optio sed soluta voluptate! Accusantium, alias deleniti dolorum eum excepturi expedita ipsum
    itaque laborum modi nam nesciunt nobis officia possimus quibusdam sed similique temporibus veniam voluptatem!
  </div>
  <div>Accusamus aliquid animi architecto consectetur, delectus eligendi error exercitationem fugiat illum libero modi
    nemo nostrum officiis optio quam quo repellendus sed vero! Atque, eius, numquam. Doloribus pariatur quia sit totam.
  </div>
  <div>Architecto deserunt dignissimos fugiat inventore, magni nostrum obcaecati perferendis praesentium sunt tempore.
    Deleniti dolorum eveniet fugiat provident quibusdam ratione sit tenetur totam. A dolorem fuga modi quia quos?
    Accusantium, aliquam?
  </div>
  <div>Ad alias, consequatur esse harum iste iusto minus necessitatibus nemo neque placeat provident quis quod, ratione
    repellat rerum sunt tenetur voluptatibus. Ipsum quod suscipit temporibus ut! Beatae eum vel vitae.
  </div>
</div>
